@media (max-width: 800px){
 .products{
  display: inherit;
  height: auto;
 }
 .product{
  margin-top: auto;
 }
 .main_section{
  padding: 4%;
 }
 .more_music{
  display: inherit;
 }
 .mentions{
  display: inherit;
 }
}